<div class="jumbotron">
  <h1 class="display-4">Nearly 40% of all food in America is wasted.</h1>
  <p class="lead">Each year, 108 billion pounds of food is wasted in the United States. That equates to 130 billion meals and more than $408 billion in food thrown away each year.</p>
  <hr class="my-4">
  <p>Farmer Barter aims to minimize food waste, decrease carbon emissions, and support the locivore movement by helping farmers and amatuer growers connect directly with each other, bypassing the need for third-party commercial vendors. </p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script> 


