<form class="submission-form">
    <label for="post-header">
        <h2>Create a request or an offer</h2></label></br>

    <div>
    <label for="post-title">Enter the name for your post:</label><br>
    <input type="text" id="post-title" name="post-title"><br>
    </div>

    <p>What type of post would you like to create?</p>
    <div>
        <input type="radio" id="offer" name="post-type" value="offer">
        <label for="offer">Make an offer</label><br>
        <input type="radio" id="request" name="post-type" value="offer">
        <label for="css">Make a request</label><br>
    </div>
        <p>When would you like this trade to occur?</p>
    <div>
        <input type="radio" id="june" name="post-month" value="june">
        <label for="offer">June</label>
        <input type="radio" id="july" name="post-month" value="july">
        <label for="css">July</label>
        <input type="radio" id="August" name="post-month" value="August">
        <label for="css">August</label><br>
    </div>

    <br>
    
    <div>
    <label for="cars">Choose your location:</label>
        <select name="city" id="city">
        <option value="atlanta">Atlanta</option>
        <option value="augusta">Augusta</option>
        <option value="athens">Athens</option>
        <option value="savannah">Savannah</option>
        <option value="valdosta">Valdosta</option>
        </select>
    </div>
    
    <br>

    <div>
    <label for="post-crop">Enter the crop you would like to trade:</label><br>
    <input type="text" id="post-crop" name="post-crop"><br>
    </div>

    <br>

    <div>
    <label for="post-quantity">Enter the amount of the crop you would like to trade (in pounds):</label><br>
    <input type="text" id="post-quantity" name="post-quantity"><br>
    </div>

    <br>

    <div>
    <label for="post-content">Enter any other information you would like to share:</label><br>
    <input type="text" id="post-content" name="post-content"><br>
    </div>

    <input class = "btn" type="submit" value="Submit">

</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script> 


