/*
Dark green: #097969
Light green: #AFE1AF
Cream: #fff5d0
*/

/*Navbar styles*/

/* Add a black background color to the top navigation */
.topnav {
    background-color: #097969;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #fff5d0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #fff5d0;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #AFE1AF;
    color: #fff5d0;
  }


  /*Body styles*/ 

  body {
      background-color: #AFE1AF;
  }

  .btn {
      background-color: #097969;
      color: #fff5d0; 
      border: none;
      /* padding: 20px; */
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      border-radius: 12px;
  }

  .submission-form {
      background-color: #fff5d0;
  }

  .login-card{
        background-color: #fff5d0;
        border: 1px solid black; 
        border-radius: 12px; 
        align-items: center;
        padding-top: 3px;
  }

  /* .login-form {
      background-color: #fff5d0;
      border: 1px solid black; 
      border-radius: 12px; 
  }

  .signup-form {
    background-color: #fff5d0;
    border: 1px solid black; 
    border-radius: 12px; 
} */



/* set entire body that is webpage */
body{
	background: #AFE1AF;
	padding-top: 25vh;	
}
/* set form background colour*/
form{
	background: #fff;
}
/* set padding and size of th form */
.form-container{
	border-radius: 10px;
	padding: 30px;
    margin: 5 px; 
}