/*
Dark green: #097969
Light green: #AFE1AF
Cream: #fff5d0
*/

/*Navbar styles*/

/* Add a black background color to the top navigation */
.navbar {
    /* margin-top: 0%; */
    background-color: #097969;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    color: #fff5d0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #fff5d0;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #AFE1AF;
    color: #fff5d0;
  }

  .navbar h3{
      color: #fff5d0;
      margin-right: 3px; 
  }


  /*Body styles*/ 

  body {
      background-color: #AFE1AF;
  }

  .btn {
      background-color: #097969;
      color: #fff5d0; 
      border: none;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin: 4px 2px;
      border-radius: 12px;
      align-items: center;
      width: 200px; 
  }

  .login-card{
        background-color: #fff5d0;
        border: 1px solid black; 
        border-radius: 12px; 
        align-items: center;
        padding-top: 3px;
  }

  /* .login-form {
      background-color: #fff5d0;
      border: 1px solid black; 
      border-radius: 12px; 
  }

  .signup-form {
    background-color: #fff5d0;
    border: 1px solid black; 
    border-radius: 12px; 
} */



/* set entire body that is webpage */
body{
	background: #AFE1AF;
	/* padding-top: 25vh;	 */
}
/* set form background colour*/
form{
	background: #fff;
}
/* set padding and size of th form */
.form-container{
	border-radius: 10px;
	padding: 30px;
    margin: 5 px; 
}

.form-parent{
    width: 100%;
}

.form-child{
    width: 50%; 
    float: left;
}

.all-offers{
    background-color: #FBF2DD;
    margin: 10px; 
    padding: 1px; 
    border-radius: 12px;
    border: 2px solid #097969; 
}

.each-offer{
    background-color: #fff5d0;
    margin: 20px; 
    margin-left: 55px;
    margin-right: 55px; 
    padding: 3px; 
    border-radius: 12px; 
    border: 2px solid #097969; 
} 

.jumbotron{
    background-color: #097969;
    color: #fff5d0; 
}

.all-requests{
    background-color: #FBF2DD;
    margin: 10px; 
    padding: 1px; 
    border-radius: 12px;
    border: 2px solid #097969; 
}

.each-request{
    background-color: #fff5d0;
    margin: 20px; 
    margin-left: 55px;
    margin-right: 55px; 
    padding: 3px; 
    border-radius: 12px; 
    border: 2px solid #097969; 
} 

.submission-form{
    background-color: #fff5d0;
    margin: 10px; 
    padding-left: 15px; 
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.submission-form h2{
    text-align: center;
    padding: 10px;
}

.post-title {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: 600;
}

#create-header{
    text-align: center;
}

.submit-button{
    text-align: center;
}

.all-create {
    display: flex;
    flex-direction: column;
}

#button-holder{
    width: 100%;
    display: flex;
    justify-content: center;
}